
.Playlist {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #E3F4F3;
    border-radius: 8px;
    border: 3px solid #97B4B2;
}

.SaveToSpotifyButton:hover {
    background-color: #566765;
}
.SaveToSpotifyButton {
    margin-top: 15px;
    background-color: #819A98;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.Playlist-name {
    font-size: 2em;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.Playlist-name:hover, .Playlist-name:focus {
    background: #f0f0f0;
    cursor: text;
}